/* Simple CSS reset. */
*, body, button, input, textarea, select {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;}

/* Font imports... */
@import url('//fonts.googleapis.com/css?family=Lato|Open+Sans|Abril+Fatface|Archivo+Black|Raleway|Space+Mono|Unica+One');

/*! Typebase.scss v0.1.0 | MIT License */

// Typesetting variables. Edit these!
$baseFontSize: 22; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.55; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 0.75rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414;

/* Setup */

html {
    /* Change default typefaces here */
    font-family: 'Lato', serif;
    font-size: $baseFontSize / 16 * 100%;
    // Make everything look a little nicer in webkit
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    -o-text-size-adjust: auto;
    text-size-adjust: auto;

}
/* Copy & Lists */

p {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: $leading;
    margin-bottom: $leading;
    li {
        line-height: $leading;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
blockquote {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: $leading;
}
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Change heading typefaces here */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: $leading;
    margin-bottom: 0;
    line-height: $leading;
}
h1 {
    font-size: 3 * $scale * 1rem;
    line-height: 3 * $leading;
    margin-top: 2 * $leading;
}
h2 {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    margin-top: 2 * $leading;
}
h3 {
    font-size: 1 * $scale * 1rem;
}
h4 {
    font-size: $scale / 2 * 1rem;
}
h5 {
    font-size: $scale / 3 * 1rem;
}
h6 {
    font-size: $scale / 4 * 1rem;
}
/* Tables */

table {
    margin-top: $leading;
    border-spacing: 0px;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
}
/* Code blocks */

code {
    // Forces text to constrain to the line-height. Not ideal, but works.
    vertical-align: bottom;
}
/* Leading paragraph text */

.lead {
    font-size: $scale * 1rem;
}
/* Hug a the block above you */

.hug {
    margin-top: 0;
}

/* Utility classes. */

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.true-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

html, body {
    max-width: 100%;
    height: 100%;
    background-color: #FFF;
}

.loading-screen {
    background: #222;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    &.loaded {
        display: none;
    }

    .cd-spinner {
        @extend .true-center;

        width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .progress-bar {
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 220px;
        height: 15px;
        background: #000;
    }
}
.content {
    max-width: 100%;
    min-height: 100%;
    opacity: 0;
}
.landing {
    overflow: auto;
    position: absolute;
	width: 100%;
    min-width: 685px;
    height: 100%;
    overflow: scroll;
}
.container {
    @extend .true-center;
    display: table;
}
.whoami {
    float: left;
    padding: 1em;
    text-align: right;
    width: 250px;
    box-sizing: border-box;

    .name {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 0.5em;
        padding-bottom: 0.25em;
        margin-bottom: 0.5em;
        border-bottom: 0.5px solid #CCC;
    }
    .bio {
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        color: #666;
        display: block;
        font-weight: 400;
        text-align: center;
        width: 100%;
        .location {
            display: block;
            margin-top: 0.97em;
            margin-bottom: 1.33em;
            cursor: pointer;
            & img {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-bottom: -6px;
            }
            &:hover {
                font-weight: 900;
            }
        }
    }
    .links {
        margin-top: 0.4em;
        margin-bottom: 0.1625rem;
        > li {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            font-family: "Space Mono", monospace;
            letter-spacing: 1px;
            border: 1px solid #DDD;
            border-bottom: none;
            padding: 8px; /*; 0em;*/
            cursor: pointer;
            -moz-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            &:last-child {
                border-bottom: 1px solid #DDD;
            }
            &:hover {
                background-color: #f7f7f7;
                font-weight: bold;
                font-size: 15px;
            }
            & > a {
                text-decoration: none;
                color: #222;
            }
        }
    }
    img.portrait {
        @extend .horizontal-center;
        border: 2px solid #5CDAFF;
        transition: all 0.5s ease;
        box-sizing: border-box;

        &:hover {
            border-width: 10px;
            cursor: pointer;
            border-color: #FF795C;
        }
    }
    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}
.navigation {
    @extend .vertical-center;
    float: left;
    transform: translateY(64.6%);
    font-family: "Archivo Black", serif;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 100%;
    margin-left: 2em;
    ul {
        display: block;
    }
    & ul > li a {
      color: #000;
      text-decoration: none;
    }
    & ul > li {
        font-size: 2em;
        margin-bottom: 1em;
        position: relative;
        cursor: pointer;
        float:left;
        clear: left;
        padding-right: 0.1375em;
    }
    & ul > li:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -14px;
        height: 4px;
        width: 0;
        background: transparent;
        transition: width .55s ease, background-color .55s ease;
    }
    & ul > li:hover:after {
        width: 100%;
        background: #FF795C;
    }
}
.circle-crop {
    border-radius: 50%;
    display: block;
    width: 180px;
}
