@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "//fonts.googleapis.com/css?family=Lato|Open+Sans:400,300,600,700|Space+Mono";
/* Simple CSS reset. */
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:after,
q:before {
  content: ''; }

abbr,
acronym {
  border: 0; }

@font-face {
  font-family: 'Kelson';
  src: url("fonts/kelson_bd-webfont.woff");
  font-weight: bold; }

@font-face {
  font-family: 'Kelson';
  src: url("fonts/kelson_extrabd-webfont.woff");
  font-weight: bolder; }

@font-face {
  font-family: 'Kelson';
  src: url("fonts/kelson_lt-webfont.woff");
  font-weight: 100; }

@font-face {
  font-family: 'Kelson';
  src: url("fonts/kelson_rg-webfont.woff");
  font-weight: normal; }

/* Font imports... */
/*! Typebase.scss v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -o-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto;
  font-family: "Kelson", sans-serif, serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  margin-top: 1.25rem;
  margin-bottom: 0;
  line-height: 1.25rem; }

ol,
ul {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }
  ol li,
  ul li {
    line-height: 1.25rem; }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.25rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1.25rem;
  margin-bottom: 0;
  font-family: "Kelson", sans-serif, sans-serif;
  font-weight: bold;
  line-height: 1.25rem; }

h1 {
  margin-top: 2.5rem;
  font-size: 4.242rem;
  line-height: 3.75rem; }

h2 {
  margin-top: 2.5rem;
  font-size: 2.828rem;
  line-height: 2.5rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.4713333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0px; }

td,
th {
  padding: 0;
  line-height: 55px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

/* Utility classes. */
.vertical-center, body.secret-auth h2.title, body.secret-auth .login-form, #hero .gallery .left-control,
#hero .gallery .right-control, #hero .gallery .content, #learn-korean .left-control,
#learn-korean .right-control {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.no-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.true-center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

body,
html {
  height: 100%;
  min-width: 425px; }

body {
  min-height: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body.secret-auth {
  color: #FAFAFA;
  background: #111;
  text-align: center; }
  body.secret-auth h2.title {
    display: inline-block;
    padding: 0.5em;
    padding-bottom: 0.63em;
    opacity: 0;
    text-align: center;
    word-wrap: break-word; }
    body.secret-auth h2.title div.username {
      margin-top: 1.5em;
      font-size: 15px; }
    body.secret-auth h2.title div.logout {
      margin: -20px;
      font-size: 15px; }
    body.secret-auth h2.title div.login {
      margin-top: 1.5em;
      font-size: 15px; }
  body.secret-auth input[type="submit"] {
    padding: 0.5em 2em;
    padding-bottom: 0.73em;
    color: #FFF;
    border: none;
    border-radius: 3px;
    background: #333;
    outline: none;
    box-shadow: none; }
  body.secret-auth .login-form {
    display: inline-block;
    padding: 2em;
    position: relative;
    font-family: 'Space Mono'; }
    body.secret-auth .login-form form > div:nth-child(2) {
      padding-bottom: 30px; }
    body.secret-auth .login-form form input[type="submit"] {
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      padding: 0.5em 2em;
      padding-bottom: 0.72em;
      color: #FFF;
      border: none;
      border-radius: 3px;
      background: #333;
      outline: none;
      box-shadow: none;
      font-family: 'Space Mono', serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px; }
      body.secret-auth .login-form form input[type="submit"]:focus {
        box-shadow: 0px 0px 2px #999; }
      body.secret-auth .login-form form input[type="submit"]:hover {
        color: #444;
        background: #FFF;
        cursor: pointer; }
    body.secret-auth .login-form form input[type="password"],
    body.secret-auth .login-form form input[type="text"] {
      display: inline-block;
      color: #FFF;
      border: 0;
      background: transparent;
      outline: none;
      box-shadow: none;
      font-family: 'Space Mono', serif;
      font-size: 22px; }

.container {
  z-index: 1;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-top: 4.1190472857rem; }

header {
  z-index: 100;
  position: fixed;
  width: 100%; }
  header > * {
    line-height: 1.2; }
  header nav {
    color: #fafafa;
    background: #000; }
    header nav .hamburger {
      display: none; }
      @media (max-width: 768px) {
        header nav .hamburger {
          display: block;
          position: absolute;
          padding-top: 0.5rem;
          padding-left: 0.88rem;
          font-size: 57px; } }
      @media only screen and (max-width: 425px) {
        header nav .hamburger {
          display: block;
          position: absolute;
          padding-top: 1rem;
          padding-left: 0.88rem;
          font-size: 41px; } }
    header nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      margin: 0;
      padding: 1.66rem; }
      @media (max-width: 768px) {
        header nav ul {
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column;
          padding: 0.83rem; } }
    header nav ul > li {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 1 100%;
      -moz-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      box-sizing: border-box;
      text-align: center;
      letter-spacing: 1.5px; }
      @media (max-width: 768px) {
        header nav ul > li {
          order: 2; }
          header nav ul > li:nth-child(3) {
            margin-bottom: 0.5rem;
            order: 1;
            margin-top: 0.66rem; }
            header nav ul > li:nth-child(3):not(:root:root) {
              margin-top: 1.25rem; }
          header nav ul > li:nth-child(4) {
            padding-left: 0px; } }
      header nav ul > li:nth-child(4) {
        padding-left: 0.5rem; }
      header nav ul > li a {
        padding: 0px 0.33rem;
        color: #fafafa;
        border-bottom-color: rgba(255, 255, 255, 0);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        transition: border-bottom-color 0.3s ease-in-out; }
        @media (min-width: 769px) and (max-width: 1024px) {
          header nav ul > li a {
            font-size: 19px; } }
        header nav ul > li a:hover {
          border-bottom: 2px solid #fafafa; }
      header nav ul > li a.logo {
        padding: 0.25rem 0.5rem;
        padding-top: 0.133rem;
        border: 3px solid #fafafa;
        font-size: 25pt;
        font-weight: bolder;
        letter-spacing: 0.75rem; }
        @media (min-width: 769px) and (max-width: 1024px) {
          header nav ul > li a.logo {
            font-size: 22pt;
            letter-spacing: 0.66rem; } }
        @media (max-width: 768px) {
          header nav ul > li a.logo {
            margin-bottom: 0.5rem; } }
        header nav ul > li a.logo span {
          letter-spacing: 0px; }

#hero {
  position: relative; }
  #hero .gallery {
    position: relative;
    height: 45vw; }
    #hero .gallery .left-control,
    #hero .gallery .right-control {
      z-index: 2;
      box-sizing: border-box;
      position: absolute;
      padding: 4rem 2rem;
      color: #FFF;
      font-size: 3rem;
      cursor: pointer; }
      @media (min-width: 769px) and (max-width: 1024px) {
        #hero .gallery .left-control,
        #hero .gallery .right-control {
          padding: 4rem 1rem;
          font-size: 2rem; } }
      @media (max-width: 768px) {
        #hero .gallery .left-control,
        #hero .gallery .right-control {
          padding: 4rem 1rem;
          font-size: 1.25rem; } }
    #hero .gallery .left-control {
      left: 0;
      padding-right: 0.25rem; }
    #hero .gallery .right-control {
      right: 0;
      padding-left: 0.25rem; }
    @media only screen and (max-width: 425px) {
      #hero .gallery {
        height: 60vw; } }
    #hero .gallery .content {
      box-sizing: border-box;
      position: absolute; }
    #hero .gallery .content {
      z-index: 1;
      left: 10%;
      width: 80%;
      text-align: center; }
      #hero .gallery .content span {
        display: inline-block;
        margin: 0 auto;
        padding: 0.5rem 2rem;
        color: #000;
        background: #FFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.75rem;
        font-weight: bold; }
        @media (min-width: 769px) and (max-width: 1024px) {
          #hero .gallery .content span {
            padding: 0.5rem 1.75rem;
            font-size: 2rem; } }
        @media (max-width: 768px) {
          #hero .gallery .content span {
            padding: 0.5rem 1.75rem;
            font-size: 1.5rem; } }
        @media only screen and (max-width: 425px) {
          #hero .gallery .content span {
            width: 75%;
            font-size: 1rem; } }

.section {
  padding: 5rem 13.333%; }

#about {
  box-sizing: border-box;
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) and (max-width: 1024px) {
    #about .title-and-description {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  @media (max-width: 768px) {
    #about .title-and-description {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  @media (max-width: 768px) {
    #about .title-and-description .title {
      font-size: 30pt; } }
  #about .title-and-description p {
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.33px; }
    @media (min-width: 769px) and (max-width: 1024px) {
      #about .title-and-description p {
        font-size: 18px; } }
    @media (max-width: 768px) {
      #about .title-and-description p {
        font-size: 15px; } }
  #about .more-information {
    background-image: -webkit-linear-gradient( top , #000 0%, #000 calc(3rem + 50%), #000 calc(3rem + 50%), #FFF calc(3rem + 50%), #FFF 100%);
    background-image: linear-gradient(to bottom, #000 0%, #000 calc(3rem + 50%), #000 calc(3rem + 50%), #FFF calc(3rem + 50%), #FFF 100%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fafafa; }
    #about .more-information .title {
      padding-bottom: 1.88rem; }
    #about .more-information .image img {
      width: 100%; }
  #about .instagram-photos {
    padding-top: 0px;
    padding-bottom: 3rem; }

#learn-korean {
  position: relative;
  background: #000; }
  #learn-korean .left-control,
  #learn-korean .right-control {
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    padding: 4rem 2rem;
    color: #FFF;
    font-size: 3rem;
    cursor: pointer; }
    @media (min-width: 769px) and (max-width: 1024px) {
      #learn-korean .left-control,
      #learn-korean .right-control {
        padding: 4rem 1rem;
        font-size: 2rem; } }
    @media (max-width: 768px) {
      #learn-korean .left-control,
      #learn-korean .right-control {
        padding: 4rem 1rem;
        font-size: 1.25rem; } }
  #learn-korean .left-control {
    left: 0;
    padding-right: 0.25rem; }
  #learn-korean .right-control {
    right: 0;
    padding-left: 0.25rem; }
  #learn-korean .content {
    box-sizing: border-box;
    max-width: 1250px;
    margin: 0 auto;
    padding: 5rem 0px;
    color: #FFF; }
    @media (min-width: 769px) and (max-width: 1024px) {
      #learn-korean .content {
        padding: 2.5rem 0px; } }
    @media (max-width: 768px) {
      #learn-korean .content {
        padding: 2rem 0px; } }
    #learn-korean .content .word {
      box-sizing: border-box;
      margin: 0px 6.25rem;
      padding: 2rem;
      border: 8px solid #FFF; }
      @media (min-width: 769px) and (max-width: 1024px) {
        #learn-korean .content .word {
          margin: 0px 3rem;
          padding: 1.5rem; } }
      @media (max-width: 768px) {
        #learn-korean .content .word {
          margin: 0px 2.5rem;
          padding: 1rem; } }
    #learn-korean .content .title {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.5px; }
      @media (max-width: 768px) {
        #learn-korean .content .title {
          font-size: 1.25rem; } }
    #learn-korean .content .pronounciation {
      margin-bottom: 1rem;
      font-size: 1.75rem;
      font-weight: 100; }
      @media (max-width: 768px) {
        #learn-korean .content .pronounciation {
          font-size: 1rem; } }
    #learn-korean .content .description {
      width: calc(100% - 13.333%);
      font-size: 16pt;
      font-weight: bold;
      letter-spacing: 0.5px; }
      @media (max-width: 768px) {
        #learn-korean .content .description {
          font-size: 13pt; } }
